@model List<GetGains.MVC.Models.Exercises.ExerciseViewModel>

<h1>Browse Exercises</h1>

<a asp-controller="Exercise" asp-action="Create" class="btn btn-success my-3">Create New Exercise</a>

@foreach (var exercise in Model)
{
    <partial name="_ExerciseCard" model="@exercise" />
}