@model List<GetGains.MVC.Models.Exercises.ExerciseViewModel>

<h1>Browse Exercises</h1>

<a asp-controller="Exercise" asp-action="Create" class="btn btn-success my-3">Create</a>

<ul>
    @foreach (var exercise in Model)
    {
        <li>@exercise.Name - @Html.DisplayFor(model => exercise.Category) <a asp-controller="Exercise" asp-action="Details" asp-route-id="@exercise.Id">View</a></li>
    }
</ul>