@model List<GetGains.Core.Models.Exercises.Exercise>

<h1>Browse Exercises</h1>

<a asp-controller="Exercise" asp-action="Create" class="btn btn-success my-3">Create</a>

<ul>
    @foreach (var exercise in Model)
    {
        <li>@exercise.Name - @exercise.Category <a asp-controller="Exercise" asp-action="Details" asp-route-id="@exercise.Id">View</a></li>
    }
</ul>